@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
    opacity: 0;
}

.dropdown-content.show {
    max-height: 200px; 
    opacity: 1;
}
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
    background-color: #121212; 
    color: #ffffff;
}

.fixed {
    transition: transform 0.3s ease;
}

.fixed:hover {
    transform: scale(1.1); 
}



  @keyframes slideIn {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }